/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a[href] {
  text-decoration: none;
}

.premier-block__small-stars, .premier-block__big-stars {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.article-block .read-more-btn, .play-btn, .join-our-program .subscribe-btn {
  display: block;
  border: none;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
}

.article-block .read-more-btn, .join-our-program .subscribe-btn {
  text-transform: uppercase;
  border-radius: 18px;
  padding: 5px 18px;
  background: #55c2d8;
  font: 400 14px/26px "Oswald", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 110px;
          flex: 1 1 110px;
  text-transform: uppercase;
  font: 600 20px "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
}

.navbar {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.navbar__item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 15px;
}

.navbar__item:hover {
  -webkit-box-shadow: 0 2px 0 #ffffff;
          box-shadow: 0 2px 0 #ffffff;
}

.navbar__link {
  display: block;
  padding: 5px 0;
  font: 200 14px "Source Sans Pro", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.hamburger {
  display: none;
}

.hamburger .bar {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #ffffff;
}

.wrapper {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  max-width: 900px;
}

.premier-block {
  background: url("../assets/section1-bg.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  padding: 20px;
  z-index: 20;
}

.premier-block__small-stars {
  background: url("../assets/Animation-image-02.svg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-animation: motion 4s cubic-bezier(0.76, 0, 0.24, 1) infinite;
          animation: motion 4s cubic-bezier(0.76, 0, 0.24, 1) infinite;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

@-webkit-keyframes motion {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.premier-block__big-stars {
  background: url("../assets/Animation-image-01.svg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-animation: emersion 5s cubic-bezier(0.64, 0, 0.78, 0) infinite;
          animation: emersion 5s cubic-bezier(0.64, 0, 0.78, 0) infinite;
}

@-webkit-keyframes emersion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emersion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.premier-block__wrapp-premier-content {
  display: block;
  max-width: 430px;
  margin: 200px auto 280px;
}

.premier-block__logo {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.premier-block__logo:hover {
  -webkit-transform: rotateY(180deg) scale(1.4);
          transform: rotateY(180deg) scale(1.4);
}

.premier-block__title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 15px 0 20px;
}

.premier-block__sub-title {
  font: 24px/32px "Source Sans Pro", sans-serif;
  text-align: center;
  color: #ffffffb2;
}

.article-block {
  position: relative;
  z-index: 10;
  padding: 85px 20px 100px;
  background: #eeeeee;
}

.article-block__title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.article-block__sub-title {
  font: 24px/32px "Source Sans Pro", sans-serif;
  text-align: center;
  color: #666666;
  margin: 40px 0 40px;
}

.article-block__wrapper-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 40px;
}

.article-block__paragraph {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  font: 16px/22px "Source Sans Pro", sans-serif;
  color: #000000;
}

.article-block .read-more-btn {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.article-block .read-more-btn:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.video-block {
  background: url("../assets/section3-bg.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  padding: 85px 0 90px 55px;
}

.video-block:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8c4f2a4d;
}

.video-block__title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  color: #ffffff;
}

.video-block__sub-title {
  font: 24px/32px "Source Sans Pro", sans-serif;
  text-align: center;
  color: #666666;
  color: #ffffff;
}

.play-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 55px auto 70px;
  background: #55c2d8;
}

.play-btn:hover {
  background: #ffffff;
}

.play-btn svg path {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.play-btn svg:hover path {
  fill: #55c2d8;
}

.join-our-program {
  background: url("../assets/join-bg.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  display: none;
  padding: 85px 20px 90px;
}

.join-our-program__title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  color: #ffffff;
  margin-bottom: 50px;
}

.join-our-program__sub-title {
  font: 24px/32px "Source Sans Pro", sans-serif;
  text-align: center;
  color: #666666;
  color: #ffffff;
  margin-bottom: 60px;
}

.join-our-program .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 540px;
  margin: 0 auto;
}

.join-our-program .subscribe-input {
  background: rgba(255, 255, 255, 0.15);
  font: 14px/18px "Source Sans Pro", sans-serif;
  color: #ffffff;
  width: 350px;
  outline: none;
  border: none;
  padding: 10px 20px;
}

.join-our-program .subscribe-input::-webkit-input-placeholder {
  font: 14px/18px "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
}

.join-our-program .subscribe-input:-ms-input-placeholder {
  font: 14px/18px "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
}

.join-our-program .subscribe-input::-ms-input-placeholder {
  font: 14px/18px "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
}

.join-our-program .subscribe-input::placeholder {
  font: 14px/18px "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
}

.join-our-program .subscribe-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.join-our-program .subscribe-input:focus:-ms-input-placeholder {
  color: transparent;
}

.join-our-program .subscribe-input:focus::-ms-input-placeholder {
  color: transparent;
}

.join-our-program .subscribe-input:focus::placeholder {
  color: transparent;
}

.join-our-program .subscribe-btn {
  margin: 0;
}

.footer {
  padding: 50px 20px 40px;
  background: #464547;
  font: 16px/1.4 "Source Sans Pro", sans-serif;
  color: #ffffff66;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__logo {
  font: 400 18px "Source Sans Pro", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: top;
}

.footer__logo img {
  vertical-align: text-top;
}

.footer__mail-link {
  padding-top: 15px;
  color: #ffffff66;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 50px;
  }
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #000000;
    opacity: .9;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navbar__list.active {
    left: 0;
  }
  .navbar__item {
    margin: 20px 0;
  }
  .navbar__item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active {
    position: fixed;
    top: 20px;
    right: 70px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .premier-block {
    background-position: right 0;
  }
  .premier-block__small-stars, .premier-block__big-stars {
    background-position: right 0;
  }
  .premier-block__wrapp-premier-content {
    padding: 0 50px;
  }
  .article-block {
    padding: 85px 50px 100px;
  }
  .article-block__title, .article-block__sub-title, .article-block__paragraph {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    text-align: left;
  }
  .article-block__title br, .article-block__sub-title br, .article-block__paragraph br {
    display: none;
  }
  .article-block .read-more-btn {
    margin: 0;
  }
  .video-block {
    padding: 85px 50px 90px;
    text-align: center;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__item {
    margin: 15px 0;
  }
}
/*# sourceMappingURL=styles.css.map */